.grid
{
    display: grid; /* o elemento passa a ser tratado a base de grids (contêiner de grade)*/
    grid-template-columns: repeat(3, 1fr);
    background: rgba(68, 67, 67, 0.2);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
   /* justify-items: center;  Alinhamento dos itens: start, center, end, stretch*/
   align-items: stretch; /* mesma coisa do de cima*/
}
.element1
{
    grid-column: 1/4; /* o elemento1 vai tomar espaço da linha 1 até a linha quatro*/
    grid-row: 1/3;
}
.element2
{
    grid-column: 1/3;
}
.element5
{
    grid-column: 2/4;
}
.element6
{
    grid-column: 1/4;
}
.grid > div 
{
    background: #6fc3f3;
    padding: 1em;
    transition: 0.2s;
}
.grid > div:hover
{
    background: rgb(206, 61, 186);
}