@import  url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body /* Centralizando o menu*/
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #fafafa;
}
#menu
{
    position: relative;
    margin-top: 100px;
}
#menu ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
/* Deixando o menu na horizontal */
#menu ul li 
{ 
    display: inline;
    

}

/* Formatando os links do menu, isto é, largura, altura, padding*/
#menu ul li a 
{
    padding: 2px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    display: inline-block;
    
    /* visual do link */
    color: #333;
    text-decoration: none;
}
#menu ul li a:hover 
{
    background-color:#D6D6D6;
    color: #fff;
    background-color: #62baea;
    box-shadow: 0px 2px 7px #fff;
    transition: 0.5s;
}