* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* From uiverse.io by @EmmaxPlay */
.card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    z-index: 1;
}  
.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}  
.circle {
    padding: 0 4px;
}
.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
.red {
    background-color: #ff605c;
}
.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #00ca4e;
}
   